<mat-toolbar color="accent">
  <mat-icon>star</mat-icon>
  <span style="margin-left: 1%;">Dory's Brain</span>
</mat-toolbar>

<div class="grid-container">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Thought</mat-label>
      <textarea matInput formControlName="thought"></textarea>
    </mat-form-field>
    <br>
    <button mat-button color="basic" (click)="reset()" style="margin-right: 30px">
      <mat-icon>undo</mat-icon>
      <span>Reset</span>
    </button>
    <button mat-raised-button color="accent" (click)="share()" [disabled]="invalid()">
      <mat-icon>share</mat-icon>
      <span>Share</span>
    </button>
  </form>
</div>
